body, input{
	font-family: arial;
	font-size: 12px;
}

ul, li{
	margin: 0;
	padding: 0;
}

.app{
	position: relative;
	width: 800px;
	margin: auto;
}

.actions{
	text-align: center;
	margin-top: 20px;
}

#todo li.checked{
	text-decoration:line-through;
}

input[type="text"], input[type="button"]{
	padding: 5px;
	border: 1px solid #333;
}

input[type="text"]{
	width: 200px;
}

input[type="button"]{
	background-color: rgb(80, 80, 80);
	color: white;
}

input[type="button"].delete{
	background-color: red;
	padding: 2px 5px;
}

input[type="checkbox"]{
	float: left;
}

li{
	border-bottom: 1px solid black;
	padding: 10px -0px;
	list-style: none;
}